@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    margin: 0;
    // background-color: #000;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* . . . */
    /* everywhere else */
    textarea:focus,
    input:focus {
      outline: none;
    }
    .mat-form-field {
      width: 100%;
    }
    button.mat-raised-button.cdk-mouse-focused {
      outline: none !important;
    }
    button.mat-button.cdk-mouse-focused {
      outline: none !important;
    }
    button.mat-icon-button.cdk-mouse-focused {
      outline: none !important;
    }
    button {
      outline: none !important;
    }
    .mat-dialog-container {
      padding: 0px !important;
    }
  
    .row {
      margin-left: 0px;
      margin-right: 0px;
      [class*="col-"] {
        padding-left: 0 ;
        padding-right: 0 ;
      }
    }
    .col{
      padding: 0;
    }
    
    a { 
      color: #6c757d;
      text-decoration : none;
    }
    a:hover {
      color: #6c757d;
      text-decoration: none;
    }
  }
  